@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: 34e89e;
    padding: 10px;
}

header h1 {
    color: white;
    font-family:'Indie Flower', cursive;
    font-size: 50px;
    font-weight: 300;
}

/* SECCIÓN FORMULARIO REGISTRO */

.form-image img {
    width: 100%;
    height: 100%;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
}

.form-register {
    width: 100%;
    display: flex;
}

.form-register h2 {
    color: rgb(107, 211, 175);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.705);
    margin-bottom: 10px;
    font-family:'Indie Flower', cursive;
    font-weight: 800;
    font-size: 45px;
}

.icons {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 25px;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: rgb(178, 240, 217);
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.label-form {
    font-size: 18px;
    font-weight: 500;
}

.input-form {
    width: 50%;
    border-radius: 5px;
    padding: 15px;
    border-color: rgb(140, 218, 190);
}

.terms {
    font-size: 18px;
}

.submit-btn {
    background-color: rgb(140, 218, 190);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .3s ease-in;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 97, 76);
}

form p {
    font-size: 18px;
}

/* FIN DE LA SECCIÓN REGISTRO */


/* SECCIÓN DE LOGIN */

.login-container {
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    padding: 20px; 
    border-radius: 5px;
}

.h1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 15px;
}

.h1-container h1 {
    color: rgb(83, 212, 195);
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
}

.login-btn {
    background-color: rgb(140, 218, 190);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .3s ease-in;
}

.login-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 97, 76);
}

/* CALENDARIO */

/* SIDEBAR */

body {
    background: linear-gradient(#28c684, #0f3443);
    height: 100vh;
  }
  
  .sidenav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0px;
      height: 100%;
      width: 60px;
      background: rgb(51, 51, 51);
  }
  
  .sidenav .nav {
      position: relative;
      display: flex;
      align-items: center;
      z-index: 1000;
      left: 0px;
      transition: all 0.4s ease;
      cursor: pointer;
  }
  
  .sidenav .nav .active {
      left: 0;
  }
  
  .sidenav .nav:hover {
      left: 60px;
  }
  
  .sidenav .description,
  .sidenav .icon {
    height: 60px;
    line-height: 60px;
    background: rgb(51, 51, 51);
  }
  
  .sidenav .nav.active .description,
  .sidenav .nav.active .icon {
    background: rgb(42, 155, 140);
  }
  
  .sidenav .icon {
  
      text-align: center;
      color: white;
      font-size: 25px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }
  
  .sidenav .description {
      position: relative;
      left: -70px;
      color: #eee;
      min-width: 80px;
      padding-left: 20px;
      height: 100%;
  }
  
  /* FIN DEL SIDEBAR */
  

/* CALENDIARY */

.perfil {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    color: rgba(255, 255, 255, 0.879);
}
/* Agregar tarea */

.h3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

h3 {
    color: rgba(255, 255, 255, 0.879);
}

.agregar-tarea {
    background-color:  rgb(51, 51, 51);
    border-radius: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
    margin: 20px 0;
    width: 100%;
}

.agregar-tarea input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.879);

}
.agregar-tarea input::placeholder {
   font-size: 1.1rem;
   color: rgba(255, 255, 255, 0.879);
}

/* Seccion tarea */
.seccion-tarea h3 {
    color: rgba(255, 255, 255, 0.879);
    margin-bottom: 20px;
    margin-top: 25px;
}

.tareas-pendientes {
    display: flex;
    justify-content: center;
}

.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(51, 51, 51);
    border-radius: 15px;
    padding: 10px;
    color: white;
    margin: 5px 0;

}
.seccion-tarea i {
    font-size: 25px;
}

#lista {
    padding-left: 0;
}

.seccion-tarea > ul p {
    font-size: 1.2rem;
}


.seccion-tarea i:hover {
    color: rgb(42, 155, 140);
    cursor: pointer;
}

.line-through{
    text-decoration: line-through;
    color : red;
} 

/* FOOTER */

footer {
    position: absolute;
    z-index: -1;
    bottom: 0;
    background-color: 0f3443;
    width: 100%;
}

footer div {
    display: flex;
    justify-content: space-between;
}

.footer-ul {
    list-style: none;
}

.footer-list {
    color: #ffffff;
    margin-left: 30px;
}

footer h2 {
    color: white;
    font-family:'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 300;
    margin-top: 40px;
}